@model ProyectoDSW_Cosmeticos.Models.Pedido
@using ProyectoDSW_Cosmeticos.Models
@{
    ViewData["Title"] = "Comprar";
}
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - Bueno Barato y Bonito!!!</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-5">
                <li class="nav-item">
                    <a asp-action="Resumen" asp-controller="EComerce" class="btn btn-warning">Carrito</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Portal" class="btn btn-dark">ir a Portal</a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<div class="mt-5 pt-4">
<h4>Pedido</h4>
<hr />
<div class="row">
    <div class="col-md-4">
            <form asp-action="Comprar" class=" d-flex gap-2 flex-column">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                
                <input asp-for="dni" class="form-control" placeholder="DNI"/>
                <span asp-validation-for="dni" class="text-danger"></span>
            </div>
            <div class="form-group">

                    <input asp-for="nombre" class="form-control" placeholder="Nombre" />
                <span asp-validation-for="nombre" class="text-danger" ></span>
            </div>
            <div class="form-group">

                    <input asp-for="email" class="form-control" placeholder="Email" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group mt-1">
                <input type="submit" value="Comprar" class="btn btn-success" />
                    <div class="alert-success mt-4 mx-auto col-md-12 rounded-3 text-center">
                        @ViewBag.mensaje
                    </div>
            </div>
        </form>
    </div>
    <div class="col-md-8 ">
        @Html.Partial("PartialCanasta",ViewBag.canasta as IEnumerable<ItemProducto>)
           
    </div>
</div>


</div>
