@model ProyectoDSW_Cosmeticos.Models.Usuario

@{
    ViewData["Title"] = "AgregarUsuario";
}
<nav class="navbar fixed-top bg-primary">
    <div class="container">
        <a class="navbar-brand text-white title-nav" href="Portal">BBB - MANTENIMIENTOS</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="text-white" id="t">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex flex-row gap-3">
                <li class="nav-item">
                    <a asp-action="ListaProductos" asp-controller="Mantenimiento" class="btn btn-outline-light">Productos</a>
                </li>
                <li class="nav-item">
                    <a asp-action="listaUsuarios" asp-controller="Mantenimiento" class="btn btn-outline-light">Usuarios</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaCategorias" asp-controller="Mantenimiento" class="btn btn-outline-light">Categorias</a>
                </li>
                <li class="nav-item">
                    <a asp-action="ListaPedidos" asp-controller="Mantenimiento" class="btn btn-outline-light">Pedidos</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="mt-5 pt-4">
<h1 class="text-center">Agregar Usuario nuevo</h1>
<hr />
<div class="row justify-content-center">
    <div class="col-md-4">
        <form asp-action="AgregarUsuario">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Dni" class="control-label"></label>
                <input asp-for="Dni" class="form-control" />
                <span asp-validation-for="Dni" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="login" class="control-label"></label>
                <input asp-for="login" class="form-control" />
                <span asp-validation-for="login" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clave" class="control-label"></label>
                <input asp-for="clave" class="form-control" />
                <span asp-validation-for="clave" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="rol" class="control-label"></label>
                <input asp-for="rol" class="form-control" />
                <span asp-validation-for="rol" class="text-danger"></span>
            </div>
                <div class="form-group mt-3 d-flex justify-content-center gap-3">
                <input type="submit" value="Registrar" class="btn btn-success" />
                <a class="btn btn-warning" asp-action="listaUsuarios">Regresar a la Lista</a>
            </div>
        </form>
    </div>


        <div class="alert-success mt-3 text-center rounded-3">
        @ViewBag.mensaje
    </div>
</div>
</div>