@model ProyectoDSW_Cosmeticos.Models.Producto

@{
    ViewData["Title"] = "EditarProducto";
}

<h1>EditarProducto</h1>

<h4>Producto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditarProducto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="idproducto" class="control-label"></label>
                <input asp-for="idproducto" class="form-control" readonly />
                <span asp-validation-for="idproducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nombreproducto" class="control-label"></label>
                <input asp-for="nombreproducto" class="form-control" />
                <span asp-validation-for="nombreproducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="idcategoria" class="control-label"></label>
                <select asp-for="idcategoria" asp-items="@ViewBag.categorias" class="form-select"></select>
            </div>
            <div class="form-group">
                <label asp-for="precio" class="control-label"></label>
                <input asp-for="precio" class="form-control" />
                <span asp-validation-for="precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="unidades" class="control-label"></label>
                <input asp-for="unidades" class="form-control" />
                <span asp-validation-for="unidades" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ruta" class="control-label"></label>
                <input asp-for="ruta" class="form-control" />
                <span asp-validation-for="ruta" class="text-danger"></span>
            </div>
            <div class="form-group mt-3 d-flex justify-content-center gap-3">
                <input type="submit" value="Registrar" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="ListaProductos">Regresar a Lista</a>
            </div>
        </form>
    </div>
    <div class="alert-success mt-3">
        @ViewBag.mensaje
    </div>
</div>


